<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>ENVIRONMENT</key>
	<string>$(ENVIRONMENT)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>MIXPANEL_TOKEN</key>
	<string>$(MIXPANEL_TOKEN)</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use your data to improve the app experience.</string>
	<key>REVENUECAT_API_KEY</key>
	<string>$(REVENUECAT_API_KEY)</string>
</dict>
</plist>
